/** GENERAL **/
$color_black: #10011F;
$color_pink: #FF3CB1;

@mixin breakpoint_min($point) {
	@media (min-width: $point)  { @content; }
}

@mixin breakpoint_max($point) {
	@media (max-width: $point)  { @content; }
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
        // -webkit-filter: blur(0);
        // filter: blur(0);
    }
    50% {
        transform: translateY(-5px);
        // -webkit-filter: blur(3px);
        // filter: blur(3px);
    }
    100% {
        transform: translateY(0);
    }
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: $color_black;
    -webkit-font-smoothing: antialiased;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 700;
}

h1, .h1 {
    font-size: 68px;
}

h2, .h2 {
    font-size: 44px;
}

h4, .h4 {
    font-size: 18px;
}

a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul.socials,
ul.menu,
ul.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a.logo {
    display: flex;
    align-items: center;
    span {
        display: inline-block;
        margin-left: 8px;
        font-size: 20px;
        color: $color_pink;
    }
}

%text-gradient {
    background: linear-gradient(to right, $color_pink 0%, #D356FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@include breakpoint_min(1200px) {
    .container {
        max-width: 1254px;
    }
}

@include breakpoint_max(575px) {
    h1, .h1 {
        font-size: 54px;
    }
}
/** END GENERAL **/

/** BUTTON **/
.btn {
    min-width: 149px;
    border: 0;
    border-radius: 100px;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    transition: .25s;
    &.btn-sm {
        min-width: 109px;
        padding: 12px 20px;
        font-size: 14px;
        line-height: 16px;
    }
    &.btn-primary {
        background: linear-gradient(to right, $color_pink 0%, #D356FF 100%);
        &.btn-sm {
            background: linear-gradient(to bottom, $color_pink 0%, #D356FF 100%);
            &:hover {
                background: linear-gradient(to bottom, $color_pink 100%, #D356FF 100%);
            }
        }
        &:hover {
            background-size: 300%;
        }
    }
    &.btn-secondary {
        background-color: #fff;
        span {
            @extend %text-gradient;
        }
        &:hover {
            background-color: #ffd8ef;
        }
    }
    &.disabled {
        background: rgba($color: #ffffff, $alpha: 0.2) !important;
        color: rgba($color: #ffffff, $alpha: 0.6);
    }
    &:not(.disabled) {
        &:hover {
            transform: translateY(2px);
        }
    }
}
/** END BUTTON **/

/** FORM **/

/** END FORM **/

/** HEADER **/
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 0;
    z-index: 500;
    a.btn-app {
        display: inline-block;
        width: 119px;
        height: 40px;
        padding: 0 10px;
        border-radius: 100px;
        font-size: 16px;
        line-height: 40px;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        background-image: url(../svg/btn-gradient-border.svg);
        background-repeat: no-repeat;
        background-position: 0;
        transition: .25s;
        span {
            @extend %text-gradient;
        }
        &:hover {
            background-color: rgba($color: $color_pink, $alpha: 0.2);
        }
    }
    button.toggle-menu {
        position: relative;
        width: 30px;
        height: 24px;
        padding: 0;
        border: 0;
        background-color: transparent;
        margin-left: 15px;
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background: linear-gradient(to right, $color_pink 0%, #D356FF 100%);
            border-radius: 20px;
        }
        &.collapsed {
            span {
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 50%;
                    margin-top: -2px;
                }
                &:nth-child(3) {
                    bottom: 0;
                }
            }
        }
        &:not(.collapsed) {
            span {
                &:nth-child(1),
                &:nth-child(3) {
                    top: 50%;
                    margin-top: -2px;
                }
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    @include breakpoint_max(767px) {
        &.show-menu {
            background-color: #10011F;
        }
    }
}

.is-sticky {
    #header {
        background-color: #10011F;
    }
}

#menu {
    font-size: 16px;
    a {
        display: inline-block;
        &:hover {
            color: $color_pink;
        }
    }

    @include breakpoint_min(768px) {
        position: absolute;
        top: 50%;
        right: 134px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        ul.menu {
            padding-right: 16px;
            > li {
                > a {
                    padding: 0 18px;
                }
            }
        }
    }

    @include breakpoint_max(767px) {
        ul.menu {
            padding-top: 12px;
            li {
                a {
                    display: block;
                    padding: 6px 0;
                }
            }
        }
    }
}
/** END HEADER **/

/** FOOTER **/
#footer {
    padding: 100px 0 110px;
    background-image: url(../images/bg-footer.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    p {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a.logo {
        margin-bottom: 16px;
    }
    ul.socials {
        li {
            margin-right: 24px;
        }
    }
    ul.menu {
        li {
            h4 {
                margin-bottom: 20px;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
            }
            a {
                display: inline-block;
                opacity: 0.6;
                // transition: opacity .25s;
                transition: color .25s;
                &:hover {
                    // opacity: 1;
                    color: $color_pink;
                }
            }
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
    .coming-soon {
        opacity: 0.4;
    }

    @include breakpoint_min(1200px){
        .row {
            margin-left: -50px;
            margin-right: -50px;
            > div {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }

    @include breakpoint_max(1199px) {
        ul.menu {
            padding-top: 40px;
        }
    }

    @include breakpoint_max(767px) {
        ul.menu {
            > li {
                width: 50%;
            }
        }
    }

    @include breakpoint_max(575px) {
        ul.menu {
            > li {
                width: 100%;
            }
        }
    }
}
/** END FOOTER **/

/** section **/
section {
    h2 {
        max-width: 800px;
        margin-bottom: 70px;
    }
    .row {
        margin-left: -12px;
        margin-right: -12px;
        > div {
            padding: 0 12px 24px;
        }
    }
}
/** END section **/

/** welcome section **/
#welcome {
    position: relative;
    margin-bottom: 150px;
    .welcome {
        &__photo {
            position: relative;
            height: 715px;
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: cover;
            overflow: hidden;
            z-index: 5;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 82px;
                background: linear-gradient(180deg, rgba(0, 3, 6, 0.9) 52.44%, rgba(0, 4, 7, 0) 100%);
                z-index: 1;
            }
            span {
                display: block;
                position: absolute;
                background-image: url(../images/photo-welcome-logo.png);
                background-repeat: no-repeat;
                background-position: 0;
                background-size: contain;
                animation-name: bounce-1;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                &:nth-child(1) {
                    width: 78px;
                    height: 78px;
                    top: 46%;
                    left: 23%;
                    animation-duration: 2.5s;
                }
                &:nth-child(2) {
                    width: 98px;
                    height: 98px;
                    top: 18%;
                    left: 31%;
                    animation-duration: 3s;
                }
                &:nth-child(3) {
                    width: 32px;
                    height: 32px;
                    top: 46%;
                    left: 35%;
                    animation-duration: 2.5s;
                }
                &:nth-child(4) {
                    width: 403px;
                    height: 383px;
                    background-image: url(../images/photo-welcome-logo-lg.png);
                    top: 18%;
                    left: 50%;
                    margin-left: -201px;
                    // filter: blur(0) !important;
                    animation-duration: 3s;
                }
                &:nth-child(5) {
                    width: 39px;
                    height: 39px;
                    top: 52%;
                    right: 36%;
                    animation-duration: 2.5s;
                }
                &:nth-child(6) {
                    width: 65px;
                    height: 65px;
                    top: 26%;
                    right: 33%;
                    animation-duration: 3s;
                }
                &:nth-child(7) {
                    width: 90px;
                    height: 90px;
                    top: 54%;
                    right: 24%;
                    animation-duration: 2.5s;
                }
            }

            @include breakpoint_max(991px) {
                span {
                    &:nth-child(3),
                    &:nth-child(5) {
                        display: none;
                    }
                    &:nth-child(1) {
                        top: 46%;
                        left: 16%;
                    }
                    &:nth-child(2) {
                        top: 18%;
                        left: 18%;
                    }
                    &:nth-child(6) {
                        top: 26%;
                        right: 22%;
                    }
                    &:nth-child(7) {
                        top: 54%;
                        right: 18%;
                    }
                }
            }

            @include breakpoint_max(767px) {
                span {
                    &:nth-child(3),
                    &:nth-child(5) {
                        display: none;
                    }
                    &:nth-child(1) {
                        left: 10%;
                        top: 60%;
                    }
                    &:nth-child(2) {
                        left: 5%;
                        top: 30%;
                    }
                    &:nth-child(4) {
                        width: 300px;
                        height: 285px;
                        top: 25%;
                        margin-left: -150px;
                    }
                    &:nth-child(6) {
                        right: 10%;
                        top: 25%;
                    }
                    &:nth-child(7) {
                        right: 15%;
                        top: 55%;
                    }
                }
            }

            @include breakpoint_max(575px) {
                height: 600px;
                span {
                    display: none;
                    &:nth-child(4) {
                        width: 260px;
                        height: 247px;
                        top: 30%;
                        margin-left: -130px;
                    }
                }
            }
        }
        &__text {
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            font-size: 18px;
            z-index: 10;
            h1 {
                margin: 0;
                span {
                    @extend %text-gradient;
                    text-transform: uppercase;
                }
            }
            p {
                margin-bottom: 35px;
                line-height: 28px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .btn {
                margin: 0 15px 15px 0;
            }
        }
    }
}
/** end welcome section **/

/** overview section **/
#overview {
    padding-bottom: 176px;
    .overview-box {
        height: 100%;
        min-height: 180px;
        border-radius: 32px;
        padding: 44px 28px;
        background-color: #18032E;
        background-image: url(../images/bg-pattern-logo-sm.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        .title {
            margin-bottom: 35px;
        }
        .note {
            margin-bottom: 0;
            font-size: 24px;
            color: $color_pink;
        }
    }
}
/** END overview section **/

/** features section **/
#features {
    padding-bottom: 176px;
    .feature-box {
        position: relative;
        min-height: 100%;
        border: 1px solid #2B173F;
        border-radius: 32px;
        padding: 64px 24px 88px;
        transition: border-color .25s;
        span.icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            margin-bottom: 30px;
            background-image: url(../svg/circle-gradient-80.svg);
            background-repeat: no-repeat;
            background-position: center;
            transition: transform .25s;
        }
        .title {
            margin-bottom: 14px;
        }
        p:not([class]) {
            margin-bottom: 0;
            opacity: 0.8;
        }
        a.btn {
            position: absolute;
            bottom: 24px;
        }
        &:hover {
            border-color: rgba($color: $color_pink, $alpha: 0.3);
        }
        &:hover {
            span.icon {
                transform: scale(1.1);
            }
        }
    }
}
/** END features section **/

/** community section **/
#community {
    padding-bottom: 176px;
    .community-box {
        position: relative;
        padding: 0 0 32px;
        &:after {
            content: '';
            width: 208px;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $color_pink;
        }
        span.icon {
            display: flex;
            align-items: center;
            width: 80px;
            height: 80px;
            margin-bottom: 12px;
            transition: transform .25s;
        }
        .title {
            margin-bottom: 10px;
        }
        &:hover {
            span.icon {
                transform: scale(1.1);
            }
        }
    }
}
/** END community section **/

/** more section **/
#more {
    padding-bottom: 108px;
    font-size: 22px;
    img {
        display: block;
        margin: 0 auto 20px;
    }
    @include breakpoint_min(1200px) {
        .row {
            margin-left: -25px;
            margin-right: -25px;
            > div {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
}
/** END more section **/
